services:
  # Nginx Reverse Proxy
  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    ports:
      - "80:80"
    volumes:
      - ./api-gateway/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - auth-service
      - user-service
      - order-service
      - dish-service
      - cart-service
    networks:
      - microservices-network
    restart: unless-stopped

  redis:
    image: redis:7.4
    container_name: redis-server
    restart: always
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes", "--save", "60", "1"]
    networks:
      - microservices-network

  redis-insight:
    image: redis/redisinsight:latest
    container_name: redis-insight
    restart: always
    ports:
      - "5540:5540"
    depends_on:
      - redis
    environment:
      - REDIS_URI=redis://redis:6379
    networks:
      - microservices-network

  # Auth Service
  auth-service:
    build:
        context: .
        dockerfile: ./auth-service/Dockerfile
    container_name: auth-service
    env_file:
      - ./auth-service/.env
    ports:
      - "4000:4000"
    networks:
      - microservices-network
    # restart: unless-stopped

  # User Service
  user-service:
    build:
      context: .
      dockerfile: ./user-service/Dockerfile
    container_name: user-service
    env_file:
      - ./user-service/.env
    ports:
      - "4001:4001"
    networks:
      - microservices-network
    restart: unless-stopped

  # Order Service
  order-service:
    build:
      context: .
      dockerfile: ./order-service/Dockerfile
    container_name: order-service
    env_file:
      - ./order-service/.env
    ports:
      - "4004:4004"
    networks:
      - microservices-network
    restart: unless-stopped

  # Dish Service
  dish-service:
    build:
      context: .
      dockerfile: ./dish-service/Dockerfile
    container_name: dish-service
    env_file:
      - ./dish-service/.env
    ports:
      - "4002:4002"
    networks:
      - microservices-network
    restart: unless-stopped

  # Cart Service
  cart-service:
    build:
      context: .
      dockerfile: ./cart-service/Dockerfile
    container_name: cart-service
    env_file:
      - ./cart-service/.env
    ports:
      - "4003:4003"
    networks:
      - microservices-network
    restart: unless-stopped

networks:
  microservices-network:
    driver: bridge
